<!DOCTYPE html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Basic page needs
        ============================================ -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Shop Details || ACSAS </title>
        <meta name="description" content="">

        <!-- Mobile specific metas
        ============================================ -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- favicon.ico -->
        <link rel="shortcut icon" type="image/x-icon" href="/../Front End/img/favicon.ico">

        <!-- ============== All CSS ================ -->
        <!-- normalize css
        ============================================ -->
        <link rel="stylesheet" href="/../Front End/css/normalize.css">

        <!-- animate css
        ============================================ -->
        <link rel="stylesheet" href="/../Front End/css/animate.css">

        <!-- bootstrap css
        ============================================ -->
        <link rel="stylesheet" href="/../Front End/css/bootstrap.min.css">

        <!-- meanmenu css
        ============================================ -->
        <link rel="stylesheet" href="/../Front End/css/meanmenu.min.css">

        <!-- font-awesome css
        ============================================ -->
        <link rel="stylesheet" href="/../Front End/css/font-awesome.min.css">

        <!-- icofont css
        ============================================ -->
        <link rel="stylesheet" href="/../Front End/css/icofont.css">

        <!-- change-text css
        ============================================ -->
        <link rel="stylesheet" href="/../Front End/css/change-text.css">

        <!-- YTPlayer css
        ============================================ -->
        <link rel="stylesheet" href="/../Front End/css/jquery.mb.YTPlayer.min.css">

        <!-- main css
        ============================================ -->
        <link rel="stylesheet" href="/../Front End/css/main.css">

        <!-- owl.carousel css
        ============================================ -->
        <link rel="stylesheet" href="/../Front End/css/owl.carousel.css">
        <link rel="stylesheet" href="/../Front End/css/owl.theme.css">
        <link rel="stylesheet" href="/../Front End/css/owl.transitions.css">

        <!-- nivo-slider css
        ============================================ -->
        <link rel="stylesheet" href="/../Front End/lib/css/nivo-slider.css">
        <link rel="stylesheet" href="/../Front End/lib/css/preview.css">

        <!-- style css
        ============================================ -->
        <link rel="stylesheet" href="/../Front End/style.css">

        <!-- responsive css
        ============================================ -->
        <link rel="stylesheet" href="/../Front End/css/responsive.css">

        <!-- modernizr js
        ============================================ -->
        <script src="/../Front End/js/vendor/modernizr-2.8.3.min.js"></script>
	<script src="/../static/store.js" defer></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
				<script async src="https://www.googletagmanager.com/gtag/js?id=UA-152418607-1"></script>
				<script>
  				window.dataLayer = window.dataLayer || [];
  				function gtag(){dataLayer.push(arguments);}
  				gtag('js', new Date());
					gtag('config', 'UA-152418607-1');
				</script>
    </head>
    <body onload="allOnloads()">
        <!-- header area start -->
        <header id="sticker">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <!-- welcome message start -->
                            <div class="welcome-msg">
                                <ul>
                                    <li> <p>  Contact: (520) 223-3072</p></li>
                                    <li> <p>acsassalesllc@hotmail.com</p></li>
				    <li><form action = "/accountButton">
					<button>View Account</button>
				    </form></li>
                                </ul>
                            </div>
                            <!-- welcome message end -->
                        </div>
                        <div class="col-md-3">
                            <!-- Search Bar -->
                            <div class="header-top-menu">
                                <form action="/search" method="post">
                                    <input type="text" placeholder="Search.." name="searchBar">
                                    <button type="submit" value="search">Go</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-2">
                           
                        </div>
                    </div>
                </div>
            </div>
            <!-- mainmenu area start -->
            <div class="main-menu-area hidden-xs">
                <div class="container">
                    <div class="menu-position">
                        <div class="row">
                            <div class="col-md-3 col-sm-2">
                                <!-- logo start -->
                                <div class="logo">
                                    <a href="index">
                                        <img src="/../Front End/img/logo.png" alt="" height="100" width="200">
                                    </a>
                                </div>
                                <!-- logo end -->
                            </div>
                            <div class="col-md-9 col-sm-10 static">
                                <!-- main-menu start -->
                                <div class="main-menu">
                                    <nav>
                                        <ul>
                                            <!-- single menu -->
                                            <li class="has-sub"><a href="index">Home</a></li>
                                            <!-- single menu -->
                                            <li><a href="../Front End/about-us.html">About us</a></li>
                                            <li class="has-mega"><a href="shop">Parts</a></li>
                                            <li><a href="trucks">Trucks</a></li>
                                            <li><a href="trailers">Trailers</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- main-menu start -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mainmenu area end -->
        </header>
        <!-- header area end -->
        <!-- page title area start -->
        <div class="page-title-area overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- page title start -->
                        <div class="page-title">
                            <h2> Edit Trailer </h2>
                        </div>
                        <!-- page title end -->
				        <!-- page title menu start -->
               	        <!-- page title menu end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- page title area end -->
        <!-- shop details area start -->
        <div class="shop-details section-padding">
            <div class="container">
                <div class="row">
                    <div class="single-list-shop">
                        <% items.forEach(function(item){ %>
                        <form action="/edit_trailer" method="POST">
                            <div class="col-md-5 col-sm-6">
                                <!-- product img start -->
                                <div class="product-img">
                                    <a href="/editTrailer/<%= item.id%>"><img src="../Front End/img/product/<%=item.imgName %>.jpg" alt=""></a>
                                </div>
                                <!-- product img end -->
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="single-product">
                                    <div class="product-name">
                                        <label>Name: </label>
                                        <input type="text" name="trailer_name" placeholder="<%= item.name%>" value="<%= item.name%>" size=65>
                                    </div>
                                    <div class="product-text">
                                        <label>ID: </label>
                                        <input type="text" name="trailer_id" placeholder="<%= item.id%>" value="<%= item.id%>" readonly>
                                    </div>
                                    <div class="product-text">
                                        <label>Description: </label>
                                        <textarea name="trailer_desc" rows="5" cols="40"><%= item.blah%></textarea>
                                    </div>
                                    <div class="product-text">
                                        <label>Brand: </label>
                                        <input type="text" name="trailer_brand" placeholder="<%= item.brand%>" value="<%= item.brand%>">
                                    </div>
                                    <div class="product-text">
                                        <label>Length: </label>
                                        <input type="text" name="trailer_length" placeholder="<%= item.length%>" value="<%= item.length%>">
                                    </div>
                                    <div class="product-text">
                                        <label>Width: </label>
                                        <input type="text" name="trailer_width" placeholder="<%= item.width%>" value="<%= item.width%>">
                                    </div>
                                    <div class="product-text">
                                        <label>Color: </label>
                                        <input type="text" name="trailer_color" placeholder="<%= item.color%>" value="<%= item.color%>">
                                    </div>
                                    <div class="price-rating">
                                        <p></p>
                                        <p><b>Contact:</b></p><input type="text" name="trailer_email" placeholder="<%= item.email%>" value="<%= item.email%>">
                                    </div>
                                    <!-- cart plus minus end -->
                                    <!-- product action start -->
                                    <div class="product-action">
                                        <div class="action-btn">
                                            <button class="text-button action-single-btn" type="submit"> Edit Trailer</button>
                                        </div>
                                    </div>
                                    <!-- product action end -->
                                </div>
                            </div>
                            </form>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer top start -->
        <div class="footer-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <!-- FILL SPACE -->
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <!-- single footer start -->
                        <div class="single-footer-top">
                            <div class="footer-about-us">
                                <!-- address start -->
                                <div class="footer-address">
                                    <p> <span> ADDRESS: </span>Rio Rico Arizona </p>
                                    <p>USA 85648</p>
                                </div>
                                <!-- address end -->
                                <!-- contact info start -->
                                <div class="footer-contact-info">
                                    <p> <span> Telephone:</span> (520) 223-3072 </p>
                                    <p> <span> Email:</span> acsassalesllc@hotmail.com </p>
                                </div>
                                <!-- contact info end -->
                            </div>
                        </div>
                        <!-- single footer end -->
                    </div>
                    <div class="col-md-2 col-md-offset-1 col-sm-3">
                        <!-- single footer start -->
                        <div class="single-footer-top">
                            <!-- section title start -->
                            <div class="footer-top-title">
                                <h3>USEFUL LINKS</h3>
                            </div>
                            <!-- section title end -->
                            <!-- footer menu start -->
                            <div class="footer-top-menu">
                                <ul>
                                    <li><a href="index">Home</a></li>
                                    <li><a href="../Front End/about-us.html">About Us</a></li>
                                    <li><a href="shop">Shop Parts</a></li>
                                    <li><a href="trucks">Shop Trucks</a></li>
                                    <li><a href="trailers">Shop Trailers</a></li>
                                </ul>
                            </div>
                            <!-- footer menu end -->
                        </div>
                        <!-- single footer end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- footer top end -->
        <!-- footer area start -->
        <div class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <!-- footer social start -->
                        <div class="footer-social">
                            <ul>
                                <li><a href="https://www.facebook.com/AZCUSTOMSERVICEANDSALES"> <i class="fa fa-facebook"></i> </a></li>
                                <li><a href="https://www.instagram.com/arizonacustomservicesandsales/"> <i class="fa fa-instagram"></i> </a></li>
                            </ul>
                        </div>
                        <!-- footer social end -->
                    </div>
                    <div class="col-md-6 col-sm-4">
                        <!-- copyright text start -->
                        <div class="footer-copyright">
                            <p>Copyright &copy; 2018- <a href="https://freethemescloud.com/">Free themes Cloud</a> </p>
                        </div>
                        <!-- copyright text end -->
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <!-- payment method start -->
                        <div class="footer-payment-method">
                            <img src="../Front End/img/payment-method.png" alt="">
                        </div>
                        <!-- payment method end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- footer area end -->


        <!-- ============== All JS ================ -->
        <!-- jquery js
        =========================================== -->
        <script src="/../Front End/js/vendor/jquery-1.12.0.min.js"></script>

        <!-- bootstrap js
        =========================================== -->
        <script src="/../Front End/js/bootstrap.min.js"></script>

        <!-- meanmenu js
        =========================================== -->
        <script src="/../Front End/js/jquery.meanmenu.js"></script>

        <!-- scrollUp js
        =========================================== -->
        <script src="/../Front End/js/jquery.scrollUp.min.js"></script>

        <!-- wow js
        =========================================== -->
        <script src="/../Front End/js/wow.min.js"></script>

        <!-- owl.carousel js
        =========================================== -->
        <script src="/../Front End/js/owl.carousel.min.js"></script>

        <!-- change-text js
        =========================================== -->
        <script src="/../Front End/js/change-text.js"></script>

        <!-- YTPlayer js
        =========================================== -->
        <script src="/../Front End/js/jquery.mb.YTPlayer.min.js"></script>

        <!-- textillate js
        =========================================== -->
        <script src="/../Front End/js/jquery.lettering.js"></script>
        <script src="/../Front End/js/jquery.textillate.js"></script>

        <!-- nivo.slider js
        =========================================== -->
        <script src="/../Front End/lib/js/jquery.nivo.slider.js"></script>
        <script src="/../Front End/lib/home.js"></script>

        <!-- plugins js
        =========================================== -->
        <script src="/../Front End/js/plugins.js"></script>

        <!-- main js
        =========================================== -->
        <script src="/../Front End/js/main.js"></script>
    </body>
</html>
