<!DOCTYPE html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Basic page needs
        ============================================ -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Home || ACSAS </title>
        <meta name="description" content="">

        <!-- Mobile specific metas
        ============================================ -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- favicon.ico -->
        <link rel="shortcut icon" type="image/x-icon" href="../Front End/img/favicon.ico">

        <!-- ============== All CSS ================ -->
        <!-- normalize css
        ============================================ -->
        <link rel="stylesheet" href="../Front End/css/normalize.css">

        <!-- animate css
        ============================================ -->
        <link rel="stylesheet" href="../Front End/css/animate.css">

        <!-- bootstrap css
        ============================================ -->
        <link rel="stylesheet" href="../Front End/css/bootstrap.min.css">

        <!-- meanmenu css
        ============================================ -->
        <link rel="stylesheet" href="../Front End/css/meanmenu.min.css">

        <!-- font-awesome css
        ============================================ -->
        <link rel="stylesheet" href="../Front End/css/font-awesome.min.css">

        <!-- icofont css
        ============================================ -->
        <link rel="stylesheet" href="../Front End/css/icofont.css">

        <!-- change-text css
        ============================================ -->
        <link rel="stylesheet" href="../Front End/css/change-text.css">

        <!-- YTPlayer css
        ============================================ -->
        <link rel="stylesheet" href="../Front End/css/jquery.mb.YTPlayer.min.css">

        <!-- main css
        ============================================ -->
        <link rel="stylesheet" href="../Front End/css/main.css">

        <!-- owl.carousel css
        ============================================ -->
        <link rel="stylesheet" href="../Front End/css/owl.carousel.css">
        <link rel="stylesheet" href="../Front End/css/owl.theme.css">
        <link rel="stylesheet" href="../Front End/css/owl.transitions.css">

        <!-- nivo-slider css
        ============================================ -->
        <link rel="stylesheet" href="../Front End/lib/css/nivo-slider.css">
        <link rel="stylesheet" href="../Front End/lib/css/preview.css">

        <!-- style css
        ============================================ -->
        <link rel="stylesheet" href="../Front End/style.css">

        <!-- responsive css
        ============================================ -->
        <link rel="stylesheet" href="../Front End/css/responsive.css">

        <!-- modernizr js
        ============================================ -->
        <script src="../Front End/js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="store.js" defer></script>
    </head>
    <body onload= "populateCart()>
        <header id="sticker">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <!-- welcome message start -->
                            <div class="welcome-msg">
                                <form action="/checkSession" method="get">
                                    <input type="submit" value="Check session">
                                </form>
                                <ul>
                                    <li> <p>  Contact: (520) 223-3072</p></li>
                                    <li> <p>acsassalesllc@hotmail.com</p></li>
                                    <li><form action="/loginCheck" method="post">
                                        <a href="login.html" <button type="submit" id="login" onclick="">login</button></a>
                                    </form></li>
                                </ul>
                            </div>
                            <!-- welcome message end -->
                        </div>
                        <div class="col-md-3">
                            <!-- Search Bar -->
                            <div class="header-top-menu">
                                <form action="/search" method="post">
                                    <input type="text" placeholder="Search.." name="searchBar">
                                    <button type="submit" value="search">Go</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="header-top-menu">
                                <!-- cart menu start -->
                                <div class="cart-menu">
                                    <ul>
                                        <li> 
                                            <a href="#"> <i class="fa fa-shopping-cart"></i>(1)</a>
                                            <div class="cart-items">
                                                <ul>
                                                    <!-- single cart item start -->
                                                    
                                                    <!-- single cart item end -->
                                            
                                                    <li>
                                                        <div class="subtotal">
                                                            <div class="subtotal-title">
                                                                <h3>subtotal  <span class="cart-total-price">$0</span></h3>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="cart-btns">
                                                            <span class="default-btn">
                                                                <a href="cart">view cart</a>
                                                            </span>
                                                            <span class="default-btn pull-right">
                                                                <a href="checkout.html">checkout</a>
                                                            </span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- cart menu end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mainmenu area start -->
            <div class="main-menu-area hidden-xs">
                <div class="container">
                    <div class="menu-position">
                        <div class="row">
                            <div class="col-md-3 col-sm-2">
                                <!-- logo start -->
                                <div class="logo">
                                    <a href="index">
                                        <img src="../Front End/img/logo.png" alt="" height="100" width="200">
                                    </a>
                                </div>
                                <!-- logo end -->
                            </div>
                            <div class="col-md-9 col-sm-10 static">
                                <!-- main-menu start -->
                                <div class="main-menu">
                                    <nav>
                                        <ul>
                                            <!-- single menu -->
                                            <li class="has-sub"><a href="index">Home</a></li>
                                            <!-- single menu -->
                                            <li><a href="../Front End/about-us.html">About us</a></li>
                                            <li class="has-mega"><a href="#">Parts<i class="icofont icofont-simple-down"></i></a>
                                                <!-- mega-menu start -->
                                                <div class="mega-menu">
                                                    <span>
                                                        <a href="shop">Parts</a>
                                                        <a href="../Front End/cart.html">View Cart</a>
                                                        <a href="../Front End/../Front End/checkout.html">Checkout</a>
                                                        <a href="../Front End/create-account.html">Create Account</a>
                                                    </span>
                                                    <span>
                                                        <a href="../Front End/edit-order-admin.html">Admin - Edit Order</a>
                                                        <a href="../Front End/editItem.html">Edit Item</a>
                                                        <a href="../Front End/EditListing.html">Edit Listing</a>
                                                        <a href="../Front End/postlisting.html">Post Listing</a>
                                                    </span>
                                                    <span>
                                                        <a href="../Front End/listing-details.html">Listing Details</a>
                                                        <a href="../Front End/login.html">Login</a>
                                                        <a href="manage-users">Admin - Manage Users</a>
                                                        <a href="../Front End/search-results.html">Search Results</a>
                                                    </span>
                                                    <span>
                                                        <a href="../Front End/order-history.html">Order History</a>
                                                        <a href="../Front End/order-template.html">Order Template</a>
                                                        <a href="../Front End/postItem.html">Post Items</a>
                                                        <a href="../Front End/error-404.html">Error 404</a>
                                                        <a href="../Front End/error-500.html">Error 500</a>
                                                    </span>
                                                </div>
                                                <!-- mega-menu end -->
                                            </li>
                                            <li><a href="trucks">Trucks</a></li>
                                            <li><a href="trailers">Trailers</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- main-menu start -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mainmenu area end -->
        </header>
        <div class="slider-area">
            <!-- slider images start -->
            <div id="nivoslider" class="slides">
                <img src="../Front End/img/slider/9.jpg" alt="slider_1" title="#slider-direction-1"/>
            </div>
            <!-- slider images end -->
            <!-- slider 1 direction -->
            <div id="slider-direction-1" class="t-cn slider-direction">
                <!-- slider caption start -->
                <div class="slider-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9">
                                <!-- layer 1 -->
                                <div class="layer-1-1">
                                    <h2 class="title-1"> Welcome to ACSAS Sales! </h2>
                                </div>
                                <!-- layer 3 -->
                                <div class="layer-1-3">
                                    <p class="title-3"> sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etctrro dolore magna aliqua Ut enim ad minim veniam, quis nostrud exercitation Lorem ipsum dolor</p>
                                </div>
                                <!-- layer 4 -->
                                <div class="layer-1-4">
                                    <a href="../Front End/about-us.html" class="title-4">contact us </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- slider caption end -->
            </div>
        </div>
        <!-- header area end -->
        <!-- shop area start -->
        <div class="shop-area section-pad">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- section title start -->
                        <div class="section-heading text-center">
                            <h3>Featured Parts</h3>
                        </div>
                        <!-- section title end -->
                    </div>
                </div>
                <div class="shop-tab-area">
                    <!-- Shop tabs -->
                    <ul class="shop-tab" role="tablist">
                        <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">NEW ARRIVAL</a></li>
                        <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">BEST SELLING</a></li>
                    </ul>
                    <!-- Shop Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                            
                            <!-- TODO: PROPERLY QUERY:
                                 FOR NEWEST ARRIVAL, GET THE BIGGEST ID -->
                            
                            <div class="row">
                                <% items.forEach(function(item){ %>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="single-list-shop" data-item-id="<%= item.id %>">
                                        <!-- single product start -->
                                            <div class="single-product hover-style text-center">
                                                <div class="product-img">
                                                    <!-- product-img -->
                                                    <a href="listing-details.html" class="main-img">
                                                        <img src="../Front End/img/product/<%=item.imgName %>.jpg" style="width:212.5px;height:159px;">
                                                    </a>
                                                    <!-- product actions -->
                                                    <div class="product-action">
                                                        <div class="action-btn">
                                                            <button class="text-button action-single-btn"> add to cart</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-info start -->
                                                <div class="product-info text-center">
                                                    <div class="product-name">
                                                        <a href="#"><%= item.name %></a>
                                                    </div>
                                                    <div class="product-price">
                                                        <p>$<%= item.price / 100 %></p>
                                                    </div>
                                                </div>
                                                <!-- product-info start -->
                                            </div>
                                            <!-- single product end -->
                                        </div>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                        
                         <!-- TODO: PROPERLY QUERY:
                                 FOR TOP SELLING, QUERY ORDERS TO FIND MOST POPULAR ITEM -->
                        
                        <div role="tabpanel" class="tab-pane fade" id="tab3">
                            <div class="row">
                                <% items.forEach(function(item){ %>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="single-list-shop" data-item-id="<%= item.id %>">
                                            <!-- single product start -->
                                            <div class="single-product hover-style text-center">
                                                <div class="product-img">
                                                    <!-- product-img -->
                                                    <a href="listing-details.html" class="main-img">
                                                        <img src="../Front End/img/product/<%=item.imgName %>.jpg" style="width:212.5px;height:159px;">
                                                    </a>
                                                    <!-- product actions -->
                                                    <div class="product-action">
                                                        <div class="action-btn">
                                                            <button class="text-button action-single-btn"> add to cart</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- product-info start -->
                                                <div class="product-info text-center">
                                                    <div class="product-name">
                                                        <a href="#"><%= item.name %></a>
                                                    </div>
                                                    <div class="product-price">
                                                        <p>$<%= item.price / 100 %></p>
                                                    </div>
                                                </div>
                                                <!-- product-info start -->
                                            </div>
                                        <!-- single product end -->
                                        </div>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <!-- shop area end -->
        <!-- listing area start -->
        <div class="listing-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- section title start -->
                        <div class="section-heading text-center">
                            <h2> Trucks & Trailers </h2>
                        </div>
                        <!-- section title end -->
                    </div>
                </div>
                <div class="row">
                    <!-- listing slider start -->
                    
                    <!-- TODO: FIX QUERY FOR NEWLY ADDED LISTING DATE IN DB -->
                    
                    <div class="listing-slider owl-preview-2">
                        <% listings.forEach(function(truck){ %>
                            <div class="col-md-12">
                                <div class="single-list-shop" data-item-id="<%= truck.id %>">
                                    <!-- single listing start -->
                                    <div class="listing-details">
                                        <!-- listing img start -->
                                        <div class="listing-img">
                                            <a href="listing-details.html">
                                                <img src="../Front End/img/listing/1.jpg" alt="">
                                                <span class="post-date">
                                                    19 <br> Sept
                                                </span>
                                            </a>
                                        </div>
                                        <!-- listing img end -->
                                        <!-- listing content start -->
                                        <div class="listing-info">
                                            <!-- post title -->
                                            <a href="../Front End/listing-details.html" class="listing-title"> <%= truck.name %> </a>
                                            <!-- post info -->
                                            <p class="post-info">
                                                <span> <i class="icofont icofont-user"></i> <%= truck.email %></span>
                                                <span class="pull-right"> <i class="icofont icofont-comment"></i> $37,800 </span>
                                            </p>
                                            <!-- post summary -->
                                            <p class="post-summary">
                                                <%= truck.blah %>
                                            </p>
                                            <!-- read post button -->
                                            <a href="../Front End/listing-details.html" class="read-post"> See Listing </a>
                                        </div>
                                        <!-- listing content end -->
                                    </div>
                                <!-- single listing start -->
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <!-- listing slider end -->
                </div>
            </div>
        </div>
        <!-- listing area end -->
        <!-- quick book area start -->
        <div class="quick-book-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="book-now">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <!-- book now content start -->
                                    <div class="book-now-title">
                                        <h2> Have a truck or trailer you want to sell? </h2>
                                        <a href="../Front End/postlisting.html" class="book-now-btn"> <i class="icofont icofont-long-arrow-right"></i> LIST IT NOW</a>
                                    </div>
                                    <!-- book now content end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- quick book area end -->
        <!-- service area start -->
        <div class="service-area section-padding overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- section title start -->
                        <div class="section-heading light text-center no-margin">
                            <h2>Arizona Custom Services and Sales LLC</h2>
                        </div>
                        <!-- section title end -->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!-- single service start -->
                        <div class="single-service">
                            <div class="icon-title">
                                <i class="fa fa-cogs"></i>
                                <h3> Buying & Selling Trucks</h3>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adip isic ing elit, sed do eiusmod tempor incididunt ultram labore et dolore magna aliqua.</p>
                        </div>
                        <!-- single service end -->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!-- single service start -->
                        <div class="single-service">
                            <div class="icon-title">
                                <i class="fa fa-compass"></i>
                                <h3> Buying & Selling Trailers </h3>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adip isic ing elit, sed do eiusmod tempor incididunt ultram labore et dolore magna aliqua.</p>
                        </div>
                        <!-- single service end -->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <!-- single service start -->
                        <div class="single-service">
                            <div class="icon-title">
                                <i class="fa fa-life-ring"></i>
                                <h3> Buying & Selling Parts</h3>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adip isic ing elit, sed do eiusmod tempor incididunt ultram labore et dolore magna aliqua.</p>
                        </div>
                        <!-- single service end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- service area end -->
        <!-- footer top start -->
        <div class="footer-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <!-- single footer start -->
                        <div class="single-footer-top">
                            <div class="footer-about-us">
                                <!-- address start -->
                                <div class="footer-address">
                                    <p> <span> ADDRESS: </span>Rico Rico Arizona </p>
                                    <p>USA 85648</p>
                                </div>
                                <!-- address end -->
                                <!-- contact info start -->
                                <div class="footer-contact-info">
                                    <p> <span> Telephone:</span> (520) 223-3072 </p>
                                    <p> <span> Email:</span> acsassalesllc@hotmail.com </p>
                                </div>
                                <!-- contact info end -->
                            </div>
                        </div>
                        <!-- single footer end -->
                    </div>
                    <div class="col-md-2 col-md-offset-1 col-sm-3">
                        <!-- single footer start -->
                        <div class="single-footer-top">
                            <!-- section title start -->
                            <div class="footer-top-title">
                                <h3>USEFUL LINKS</h3>
                            </div>
                            <!-- section title end -->
                            <!-- footer menu start -->
                            <div class="footer-top-menu">
                                <ul>
                                    <li><a href="index">Home</a></li>
                                    <li><a href="../Front End/about-us.html">About Us</a></li>
                                    <li><a href="shop">Shop Parts</a></li>
                                    <li><a href="trucks">Shop Trucks</a></li>
                                    <li><a href="trailers">Shop Trailers</a></li>
                                </ul>
                            </div>
                            <!-- footer menu end -->
                        </div>
                        <!-- single footer end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- footer top end -->
        <!-- footer area start -->
        <div class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <!-- footer social start -->
                        <div class="footer-social">
                            <ul>
                                <li><a href="https://www.facebook.com/AZCUSTOMSERVICEANDSALES"> <i class="fa fa-facebook"></i> </a></li>
                                <li><a href="https://www.instagram.com/arizonacustomservicesandsales/"> <i class="fa fa-instagram"></i> </a></li>
                            </ul>
                        </div>
                        <!-- footer social end -->
                    </div>
                    <div class="col-md-6 col-sm-4">
                        <!-- copyright text start -->
                        <div class="footer-copyright">
                            <p>Copyright &copy; 2018- <a href="https://freethemescloud.com/">Free themes Cloud</a> </p>
                        </div>
                        <!-- copyright text end -->
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <!-- payment method start -->
                        <div class="footer-payment-method">
                            <img src="../Front End/img/payment-method.png" alt="">
                        </div>
                        <!-- payment method end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- footer area end -->

        <!-- ============== All JS ================ -->
        <!-- jquery js
        =========================================== -->
        <script src="../Front End/js/vendor/jquery-1.12.0.min.js"></script>

        <!-- bootstrap js
        =========================================== -->
        <script src="../Front End/js/bootstrap.min.js"></script>

        <!-- meanmenu js
        =========================================== -->
        <script src="../Front End/js/jquery.meanmenu.js"></script>

        <!-- scrollUp js
        =========================================== -->
        <script src="../Front End/js/jquery.scrollUp.min.js"></script>

        <!-- wow js
        =========================================== -->
        <script src="../Front End/js/wow.min.js"></script>

        <!-- owl.carousel js
        =========================================== -->
        <script src="../Front End/js/owl.carousel.min.js"></script>

        <!-- change-text js
        =========================================== -->
        <script src="../Front End/js/change-text.js"></script>

        <!-- YTPlayer js
        =========================================== -->
        <script src="../Front End/js/jquery.mb.YTPlayer.min.js"></script>

        <!-- textillate js
        =========================================== -->
        <script src="../Front End/js/jquery.lettering.js"></script>
        <script src="../Front End/js/jquery.textillate.js"></script>

        <!-- nivo.slider js
        =========================================== -->
        <script src="../Front End/lib/js/jquery.nivo.slider.js"></script>
        <script src="../Front End/lib/home.js"></script>

        <!-- plugins js
        =========================================== -->
        <script src="../Front End/js/plugins.js"></script>

        <!-- main js
        =========================================== -->
        <script src="../Front End/js/main.js"></script>
    </body>
</html>
